<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
    <button mat-icon-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">
        verified_user
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">
        verified_user
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">
        verified_user
      </mat-icon>
    </button>
  </mat-toolbar-row>


</mat-toolbar>

<app-post-list></app-post-list>
<router-outlet></router-outlet>
